* {
	box-sizing: border-box;
}
ul {
	margin: 0;
	padding: 0;
}
ul li { /* li = list items */
	cursor: pointer;
	position: relative;
	padding: 10px 10px 10px 10px;
	background: #6a30e6;
	color: white;
	font-size: 20px;
	transition: 0.2s;
	
	/*
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	*/
}
ul li:nth-child(odd) { /* odd-numbered li items */
	background: #fff;
	color: black;
}
ul li:hover {
  background: #ccc;
  color: black;
}
ul li.checked { /* When pressed, redirect to the event. */
}
.close { /* User feedback? Different color for delete? */
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 10px 10px 10px;
}
.header {
	background-color: #6a30e6;
	padding: 20px 50px;
	color: white;
	text-align: center;
}
.header:after {
  content: "";
  display: table;
  clear: both;
}
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 100%;
  padding: 10px;
  float: left;
  font-size: 16px;
}
.add { /* add button properties */
  padding: 10px;
  width: 25%;
  background: #ccc;
  color: black;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 1;
}
.move-left {
	width: auto;
	box-shadow: none;
}
